* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}
.parent{
  min-height:100vh ;
  width: 100% ;
  background-color: black;
  padding: 20px;
  display: flex;
  gap: 20px;
 flex-wrap: wrap;

  /* color: white; */
}

.cards{
  height: 350px;
  width: 300px;
  border-radius: 30px;
  background-color: #ffffff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin: 20px 20px; */
}
.cards .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.top img{
  height: 40px;
  width: 40px;
  padding: 1px;
  border: 1px solid #dadada;
  border-radius: 50%;
}
.top button{
  padding: 2px 5px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #dadada;
  background-color: #f2efef;
  color: black;
  font-size: 11px;
  gap: 3px;
  padding: 3px;
}

.center{
  background-color:white;
}
.center h3{
  font-size: 17px;
  font-weight: 300;
}
.center h2{
  font-size: 20px;
}
.center h3 span{
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
}
.center .tag{
  display: flex;
  gap: 3px;
}
.center .tag h4{
  font-size: 10px;
  background-color: #dadada;
  border-radius: 5px ;
  color: black;
  padding: 4px 8px;
  font-weight: 400;
}
.bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1.5px solid #c5c3c3;
  padding: 10px 0;
}
.bottom button{
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  column-width: 600;
}
.bottom h3{
  font-size: 17px;
}
.bottom p{
  font-size: 10px;
  color:#8b8b8b;
}
