* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  font-family: Arial, sans-serif;
  background-color: black;
}
.hello{
    background-color: greenyellow;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}